$attempt: null;
$answer: null;

@mixin attempt($val) {
  attempt: $val;
}

@mixin answer($val) {
  answer: $val;
}

@mixin result($answer, $attempt) {
  @if $answer == $attempt {
    RESULT: CORRECT;
  } @else {
    RESULT: Try again;
  }
}
